# common
.idea
.vscode

# datasets
data/chv
data/safety_vest
data/yolo_collected_datasets

# dataset indexes
src/dataset/last_indexes

# cache
src/common/__pycache__
notebooks/.ipynb_checkpoints/
src/utils/__pycache__/
notebooks/temp.ipynb

# models
src/models/yolov7
src/models/weights